BBmuse.plugin.x:                        224
BBmuse.plugin.y:                        864
BBmuse.plugin.width:                    166
BBmuse.plugin.height:                   17
BBmuse.plugin.inSlit:                   true
BBmuse.plugin.alwaysontop:              false
BBmuse.plugin.snapwindow:               true
BBmuse.plugin.togglewithplugins:        true
BBmuse.plugin.transparency.enabled:     false
BBmuse.plugin.scrolling:                true
BBmuse.plugin.update.url:               http://www.geocities.com/madant8/meta.html
BBmuse.plugin.transback.enabled:        false
BBmuse.plugin.showTrackNumber:          true
BBmuse.plugin.showBorder:               false
BBmuse.plugin.scroll_style:             EndToEnd
BBmuse.plugin.useCustomFont:            false
BBmuse.plugin.font:                     Snap
BBmuse.plugin.font.height:              16
BBmuse.plugin.font.weight:              1
BBmuse.plugin.idle.state:               1
BBmuse.plugin.idle.message:             BBmuse
BBmuse.plugin.idle.TimeStr:             %a %d %b - %I:%M %p
BBmuse.plugin.transparency.alpha:       160
BBmuse.plugin.bbInterfaceExtensions:    true
BBoscilliscope.plugin.x:                15
BBoscilliscope.plugin.y:                680
BBoscilliscope.plugin.width:            166
BBoscilliscope.plugin.height:           17
